@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Ensure background color matches theme */
  color: #1e293b; /* Ensure default text color matches theme */
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff; /* surface color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6366f1; /* primary color */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5b4fc; /* secondary color on hover */
}
